version: '3'
services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "${DB_PORT}"
    networks:
      - app-net

  app:
    image: waldirtiagodias/medwal:latest
    container_name: medwal-app
    env_file:
      - .env
    ports:
      - "${APP_PORT}"
    depends_on:
      - postgres
    networks:
      - app-net

volumes:
  pgdata:

networks:
  app-net:
    driver: bridge