name: CI - Estudo CI/CD medwal
on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_TOKEN}}

      - name: Build da imagem
        run: docker build -t ${{secrets.DOCKER_USERNAME}}/medwal:latest .

      - name: Push da imagem
        run: docker push ${{ secrets.DOCKER_USERNAME }}/medwal:latest
